body {
    background-color: #F0F0D7;
    color: #3f5a36;
    font-family: "Georgia"
}
a {
    text-decoration: none;
}

img {
    max-width: 30%;
    height: auto;
}

#sportsGraph {
    max-width: 85%;
    height: auto;
}

#icon {
    max-width: 15%;
    height: auto;
}

#imageprocessing {
    max-width: 60%;
    height: auto;
}
